body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: black !important;
  font-size: large !important;
}

.navbar {
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav__logo {
  width: 100px;
}

.nav-item {
  transition: 0.5s;
  padding: 3px 10px;
}

.nav-item:hover {
  border-radius: 15px;
  background-color: rgba(164, 166, 167, 0.273) !important;
}