body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* -------------- Style for Navbar Component starts------------ */
.navbar {
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  top: 0;
  z-index: 99;
}


.navbar a {
  color: black !important;
  font-size: large !important;
}

.nav__logo {
  width: 100px;
}

.nav-item {
  transition: 0.5s;
  padding: 3px 10px;
}

.nav-item:hover {
  border-radius: 15px;
  background-color: rgba(164, 166, 167, 0.273) !important;
}

/* -------------- Style for Navbar Component ends------------ */

/* -------------- Style for Hero Component starts------------ */
.hero__container {
  width: 100%;
  height: 92vh !important;

  /* margin-top: -80px; */
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------------- Style for Hero Component ends------------ */